<%= simple_form_for(@jam) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :date %>
    <%= f.input :start, :as => :time, :ampm => true %>
    <%= f.input :end, :as => :time, :ampm => true %>
    <%= f.input :set, :as => :time, :ampm => true %>
    <%= f.input :max_attendees %>
    <%= f.association :venue %> (or <%= link_to "Add a new venue", new_venue_path %>)
    <br/>
    <br/>
    <%= f.association :songs, :as => :check_boxes, :label_method => lambda { |song| "#{song.name} | played #{song.times_played} times" }, collection: Song.order('name ASC') %>
    <%= f.input :description, :input_html => {:rows => 8, :class => "span8"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
