<%= simple_form_for(@jam) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :date %>
    <%= f.input :start %>
    <%= f.input :end %>
    <%= f.input :set %>
    <%= f.association :venue %>
    <%= f.association :songs, :as => :check_boxes, :label_method => lambda { |song| "#{song.name} | played #{song.times_played} times" }, collection: Song.order('name ASC') %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
