  <div class="row-fluid" >
    <div class="span3">
      <%= link_to jam, jam %>
      <br/>
      <%= jam.date.strftime("%a, %B #{jam.date.day.ordinalize} %Y") %> 
      <br/><br/>
      At: <%= link_to jam.venue.name, jam.venue %>
      <br/>
      <%= jam.venue.address %> (<%= link_to "map", jam.venue.map_url %>)
    </div>
    <div class="span3"> 
      Timing: <br/>
      Rehearse: <br/><%= jam.start.to_s(:clock_time) %> - <%= jam.end.to_s(:clock_time) %><br/>
      <br/>
      Perform: <br/><%= jam.set.to_s(:clock_time) %>
    </div>
    <div class="span5">
      Songs:<br/>
      <ol>
        <% jam.songs.each do |song| %>
        <li><%= render "songs/song", :song => song %></li>
        <% end %>
      </ol>
    </div>
    <div class="span1">
    <% if can? :show, jam %> 
      <%= link_to 'Show', jam, :class => 'btn btn-mini' %><br/><br/>
    <% end %>
    <% if can? :edit, jam %>
      <%= link_to 'Edit', edit_jam_path(jam), :class => 'btn btn-mini' %><br/><br/>
    <% end %>    
    <% if can? :destroy, jam %>
      <%= link_to 'Cancel', jam, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %>
    <% end %>
    </div>

  </div>
