  <div class="row-fluid" >
    <div class="span4">
      <%= link_to jam, jam %>
    </div>
    <div class="span4"> 
      Start: <%= jam.start.to_s(:clock_time) %>
      End: <%= jam.end.to_s(:clock_time) %>
      Set: <%= jam.set.to_s(:clock_time) %>
    </div>
    <% if can? :show, jam %> 
      <div class="span1"><%= link_to 'Show', jam, :class => 'btn btn-mini' %></div>
    <% end %>
    <% if can? :edit, jam %>
      <div class="span1"><%= link_to 'Edit', edit_jam_path(jam), :class => 'btn btn-mini' %></div>
    <% end %>    
    <% if can? :destroy, jam %>
      <div class="span1"><%= link_to 'Cancel', jam, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %></div>
    <% end %>

  </div>
