<h1>Listing jams</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Start</th>
    <th>End</th>
    <th>Set</th>
    <th>Venue</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jams.each do |jam| %>
  <tr>
    <td><%= jam.name %></td>
    <td><%= jam.date %></td>
    <td><%= jam.start.to_s(:time) %></td>
    <td><%= jam.end.to_s(:time) %></td>
    <td><%= jam.set.to_s(:time) %></td>
    <td><%= jam.venue.name unless jam.venue.nil? %></td>

    <td><%= link_to 'Show', jam %></td>
    <td><%= link_to 'Edit', edit_jam_path(jam) %></td>
    <td><%= link_to 'Cancel', jam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "9 de Julio", asset_path("9 de julio (bass clef)_Tango.pdf"), :class => "links" %>
<br/>
<%= link_to 'New Jam', new_jam_path %>

<br/>
<%= link_to 'Manage users', users_path %>
