<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @jam.name %>
</p>
<p>
  <b>Start:</b>
  <%= @jam.date.strftime("%a %B %d, %Y") %>
</p>
<p>
  <b>Start:</b>
  <%= @jam.start.to_s(:clock_time) %>
</p>

<p>
  <b>End:</b>
  <%= @jam.end.to_s(:clock_time) %>
</p>

<p>
  <b>Set:</b>
  <%= @jam.set.to_s(:clock_time) %>
</p>

<p>
  <b>Venue:</b>
  <%= link_to "#{@jam.venue.name} (#{@jam.venue.address})", @jam.venue %>
</p>

<p>
  <b>Songs:</b>
  <br/>
  <% @jam.songs.each do |song| %>
    <%= render "songs/song", :song => song, :jam => jam %>
  <% end %>
</p>

<p>
  <b>Max Attendees:</b>
  <%= @jam.max_attendees %>
</p>

<p>
  <b>Notes:</b>
  <%= @jam.description %>
</p>

<%= render "jams_users/attend_form", :jam => @jam %> 
<br/><br/>
<% if can? :edit, @jam %>
  <%= link_to 'Edit', edit_jam_path(@jam) %> | 
<% end %>



<%= link_to 'Back', jams_path %>
